.contenedor {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#contenedor2 {
	width: 50%;
	padding: 10px;
	box-sizing:border-box;
	float: left;
}

#contenedor3 {
	width: 50%;
	padding: 10px;
	box-sizing:border-box;
	float: left;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

#svg{
	position: absolute;
}